@font-face {
    font-family: "mono";
    src: url("./fonts/ShareTechMono-Regular.ttf");
}

p {
    font-family: "mono";
    font-size: 24px;
}

.red {
    color: #df4747;
}

.green {
    color: #47df47;
}

.blue {
    color: #4770df;
}

.white {
    color: #ffffff;
}

.dull {
    opacity: 0.25;
    cursor: not-allowed;
}

.blank {
    outline: solid 1px #ffffff;
    color: rgba(255, 255, 255, 0);
}

.special {
    color: #ffffff;
}

.selected {
    animation: flash infinite 1s alternate;
}

@keyframes flash {
    from {opacity: 1;}
    to {opacity: 0;}
}