html, body {
    padding: 0px;
    margin: 0px;
    background-color: #222222;
    color: #ff0074; /* to highlight if a colour error occurs */
}

.container {
    position: absolute;
    width: 340px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.swap-area, .special-area, .stack-area {
    display: inline-flex;
}

.side-area {
    padding-left: 5%;
}

.special-area {
    margin: 0px 3.75%;
}

p {
    margin: 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
}